
:root {
    --pink: #9381FF;
    --purple: #584d99;
    --purple50: #584d9980;
    --purple20: #584d9930;
    --dark-purple: #1D1A33;
    --white: #FFFFFC;
    --white50: #FFFFFC80;
    
    --pink50: #9381FF80;
    --dark-purple50: #1D1A3380;

    --font: "Rubik", sans-serif;

    --h1-size: 48px;
    --h1-weight: 300;
    --h1-color-primary: black;

    --h2-size: 40px;
    --h2-weight: 300;

    --h3-size: 36px;

    --button-size: 36px;

    --button-curve: 23px;

    --input-curve: 15px;

    --sm-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    --md-shadow: 0px 8px 8px rgb(0, 0, 0, 25%);

}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--white);
}

.active-nav a {
    color: #00000080;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-family: var(--font);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
}

.h2 {
    font-family: var(--font);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: black;
}

.h3 {
    font-family: var(--font);
    font-size: var(--h3-size);
    font-weight: var(--h2-weight);
    color: var(--white);
}

.color-white {
    color: var(--white);
}

.color-black50 {
    color: #00000080;
}

.header {
    font-size: var(--h2-size);
    height: 135px;
    width: 100%;
    background-image: linear-gradient(var(--purple), var(--pink));
    box-shadow: var(--sm-shadow);
    box-sizing: border-box;
}

.login-header {
    justify-content: end;
}

.login-signup-button {
    background-image: linear-gradient(to right, var(--purple50), var(--dark-purple50));
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 370px;
    justify-content: space-evenly;
    text-align: center;
    border-radius: var(--button-curve);
    margin-right: 50px;
}

.nav-list {
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
}

.nav-link {
    font-size: var(--h2-size);
    font-family: var(--font);
    font-weight: var(--h1-weight);
    width: 225px;
    height: auto;
    text-align: center;
}

.active-login-signup {
    background-image: linear-gradient(to bottom, var(--pink), var(--purple));
    border-radius: var(--button-curve);
}

.inactive-login-signup {
    color: var(--white50)
}

.nav-button {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.login {
    margin: auto;
}

.signup {
    margin: auto;
}

.signup.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    height: auto;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
}

.text-box {
    background-image: linear-gradient(to right, var(--pink), var(--purple20));
    color: white;
    font-family: var(--font);
    font-weight: var(--h1-weight);
    font-size: var(--h2-size);
    height: auto;
    width: 48%;
    margin-bottom: 20px;
    border-radius: var(--input-curve);
    padding: 10px 20px;
    box-shadow: var(--sm-shadow);
    box-sizing: border-box;
    border: hidden;
    outline: none;
}

.text-box::placeholder {
    opacity: 1;
}

.text-box:focus {
    background-image: linear-gradient(to right, var(--pink), var(--pink));
    outline: none;
}

.button {
    background-image: linear-gradient(to bottom, var(--pink), var(--purple));
    box-shadow: var(--sm-shadow);
    color: var(--white);
    font-family: var(--font);
    font-size: var(--button-size);
    font-weight: 400;
    border-radius: var(--button-curve);
    padding: 15px 45px;
    border: hidden;
    transition: padding .5s;
}

.button:hover {
    cursor: pointer;
    padding: 15px 55px
}

.flashes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.alert {
    list-style-type: none;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: var(--input-curve);
}

.alert-danger {
    background-color: #ff000080;
}

.nav-list li:not(.active-nav):not(.ignore):hover {
    padding: 10px 0px;
    background-image: linear-gradient(to bottom, var(--purple), var(--pink));
    border-radius: var(--button-curve);
    cursor: pointer;
    box-shadow: var(--sm-shadow);
}

.active-nav {
    padding: 10px 0px;
    color: #00000080;
    background-image: linear-gradient(to bottom, var(--purple50), var(--pink50));
    border-radius: var(--button-curve);
    box-shadow: var(--sm-shadow);
}

.dropdown-button {
    background-color: #00000000;
    cursor: pointer;
    padding: 5px 15px;
    border: none;
}

.dropdown {
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    flex-flow: row;
    background-color: var(--pink50);
    padding: 5px;
    margin: 5px 5px 5px 10px;
    min-width: 200px;
    z-index: 1;
    border-radius: var(--button-curve);
    box-shadow: var(--md-shadow);
}

.dropdown-content.show {
    display: flex;
}

.dropdown-link {
    padding: 5px 10px;
    margin: 5px 10px;
}

.dropdown-link:hover {
    background-image: linear-gradient(to bottom, var(--purple50), var(--pink50));
    border-radius: var(--button-curve);
    padding: 5px 10px;
    box-shadow: var(--sm-shadow);
}

.pt-50 {
    padding-top: 50px
}

.mw-50 {
    max-width: 50%;
    height: auto;
}

.center-text {
    text-align: center;
}

.bold {
    font-weight: 400;
}

.card-primary {
    background-image: linear-gradient(to bottom, var(--purple), var(--pink));
    color: var(--white);
}

.card-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    flex-direction: column;
}

.card-primary {
    flex-direction: column;
    justify-content: start;
    width: 430px;
    height: 480px;
    margin: 10px;
    border-radius: var(--input-curve);
    box-shadow: var(--md-shadow);
}

.menu-button {
    background-color: var(--pink);
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 385px;
    max-height: 100%;
    margin: 10px 0px;
    border-radius: var(--button-curve);
    box-shadow: var(--sm-shadow);
    font-weight: 400;
    transition: box-shadow .5s, text-shadow .5s;
}

@keyframes button-hover {
    from {width: 385px;}
    to {width: 450px;}

    from {box-shadow: var(--sm-shadow);}
    to {box-shadow: var(--md-shadow);}

    /* from {text-shadow: none;}
    to {text-shadow: var(--sm-shadow);} */
}
.menu-button:hover {
    background-image: linear-gradient(to top, var(--pink), var(--purple));
    /* box-shadow: var(--md-shadow);
    text-shadow: var(--sm-shadow); */
    animation-name: button-hover;
    animation-iteration-count: infinite;
    animation-duration: .75s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.card-title {
    padding-top: 10px;
    margin-bottom: 0px;
}

.card-text-box {
    width: 90%;
    height: auto;
}

.text-box.disabled {
    color: #00000080;
}

.hidden {
    display: none;
    visibility: hidden;
}