{% extends "layout.html" %}

{% block header %}
<a class="nav-link nav-button active-login-signup" href="/login">Login</a>
<a class="nav-link nav-button inactive-login-signup" href="/signup">Sign up</a>
{% endblock %}

{% block welcome %}
<div class="welcome">
    <h1 class="h1">Welcome back to Wisp!</h1>
</div>
{% endblock %}


{% block main %}
<div class="login">
    <form class="form" action="/login" method="post">
        <input type="text" class="text-box" id="username" name="username" placeholder="Username">      
        <input type="password" class="text-box" id="password" name="password" placeholder="Password">
        <input type="submit" class="button" value="Sign in">
    </form>
</div>
{% endblock %}