{% extends "loans.html" %}


{% block sidebar %}
    <div id="s-o" class="sidebar-overview">
        <h2 class="h3-black">Total balance: {{ usd(total) }}</h2>
        <h2 class="h3-black">Monthly interest: {{ usd(interest) }}</h2>
    </div>

    
        <ul id="s-m" class="menu flex-center h3 sidebar-buttons visible">
            <li class="menu-item">
                <a href="/make-payment" id="make-payment" class="menu-button">Make payment</a>
            </li>
            <li class="menu-item">
                <a href="/add-loan" id="add-loan" class="menu-button">Add loan</a>
            </li>
            <li class="menu-item">
                <a href="/edit-loan" id="edit-loan" class="menu-button">Edit loan</a>
            </li>
            <li class="menu-item">
                <a href="/delete-loan" id="delete-loan" class="menu-button">Delete loan</a>
            </li>
            <li class="menu-item">
                <a href="/loans" id="loans" class="menu-button">All loan options</a>
            </li>
        </ul>
{% endblock %}

{% block main_content %}   
    <table class="table h3">
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Interest rate</th>
            <th>Monthly interest</th>
        </tr>

        {% if loans %}

            {% for loan in loans %}
            {% if loan.amount > 0 %}
                <tr>
                    <td>{{ loan.name }}</td>
                    <td>{{ usd(loan.amount) }}</td>
                    <td>{{ percent(loan.interest) }}</td>
                    <td>{{ usd(loan.monthly_interest) }}</td>
                </tr>
            {% endif %}
            {% endfor %}

        {% endif %}
    </table>
{% endblock %}