{% extends "layout.html" %}


{% block header %}
<ul class="nav-list flex-center">
    <li class="nav-item flex-center">
        <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item flex-center active-nav">
        <a href="/loans" class="nav-link">Loans</a>
    </li>
    <li class="nav-item flex-center">
        <a href="/budget" class="nav-link">Budget</a>
    </li>
    <li class="nav-item flex-center">
        <a href="/progress" class="nav-link">Progress</a>
    </li>
    <li id="profile-button">
        <div class="dropdown flex-center">
            <button onclick="dropDown()" class="dropdown-button flex-center">
                <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.5 0C11.925 0 0 11.925 0 26.5C0 41.075 11.925 53 26.5 53C41.075 53 53 41.075 53 26.5C53 11.925 41.075 0 26.5 0ZM26.5 8.83333C31.3583 8.83333 35.3333 13.6917 35.3333 19.875C35.3333 26.0583 31.3583 30.9167 26.5 30.9167C21.6417 30.9167 17.6667 26.0583 17.6667 19.875C17.6667 13.6917 21.6417 8.83333 26.5 8.83333ZM41.075 43.0625C37.3208 46.375 32.0208 48.5833 26.5 48.5833C20.9792 48.5833 15.6792 46.375 11.925 43.0625C11.0417 42.1792 10.8208 40.8542 11.7042 39.9708C14.1333 37.1 17.4458 35.1125 20.9792 34.0083C22.7458 34.8917 24.5125 35.3333 26.5 35.3333C28.4875 35.3333 30.2542 34.8917 32.0208 34.0083C35.775 35.1125 38.8667 37.1 41.2958 39.9708C42.1792 40.8542 42.1792 42.1792 41.075 43.0625Z" fill="#FFFFFC"/>
                </svg> 
            </button>
            <div id="profile-dropdown" class="dropdown-content flex-center">
                <a href="/account" class="dropdown-link h3 color-white">Account</a>
                <a href="/signout" class="dropdown-link h3 color-white">Sign out</a>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="section-container">
    <div class="sidebar">
        <div id="s-o" class="sidebar-overview">
            <h2 class="h3-black">Total balance: {{ usd(total) }}</h2>
            <h2 class="h3-black">Monthly interest: {{ usd(interest) }}</h2>
        </div>
    {% block sidebar %}
        
            <ul id="s-m" class="menu flex-center h3 sidebar-buttons visible">
                <li class="menu-item">
                    <a onclick="openPaymentForm()" id="make-payment" class="menu-button">Make payment</a>
                </li>
                <li class="menu-item">
                    <a onclick="openAddForm()" id="add-loan" class="menu-button">Add loan</a>
                </li>
                <li class="menu-item">
                    <a onclick="openEditForm()" id="edit-loan" class="menu-button">Edit loan</a>
                </li>
            </ul>

            <div id="make-payment-form-container" class="collapse form">

                <button onclick="goBack(openPaymentForm())" class="back-button">
                    <?xml version="1.0" ?><svg class="back-button-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style></defs><g data-name="Layer 2" id="Layer_2"><g data-name="E421, Back, buttons, multimedia, play, stop" id="E421_Back_buttons_multimedia_play_stop"><circle class="cls-1" cx="256" cy="256" r="246"/><line class="cls-1" x1="352.26" x2="170.43" y1="256" y2="256"/><polyline class="cls-1" points="223.91 202.52 170.44 256 223.91 309.48"/></g></g></svg>
                </button>
        

                <h2 class="h1-white">Make Payment</h2>
                <form class="form" action="/make-payment" method="post" autocomplete="off">
                    <label class="form-label">Make payment to:</label>
                    <select type="select" class="text-box">
                        <option value="Select loan" disabled selected>Select loan</option>
                    <label class="form-label">Payment amount</label>
                    <input type="text" class="text-box usd" placeholder="Payment amount" data-format="usd" onkeypress="return onlyNumberKey(event)">
                    <span></span>
                    <input type="submit" value="Confirm" class="button">
                </form>
            </div>
            
            <div id="add-loan-form-container" class="collapse form">

                <button onclick="goBack(openAddForm())" class="back-button">
                    <?xml version="1.0" ?><svg class="back-button-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style></defs><g data-name="Layer 2" id="Layer_2"><g data-name="E421, Back, buttons, multimedia, play, stop" id="E421_Back_buttons_multimedia_play_stop"><circle class="cls-1" cx="256" cy="256" r="246"/><line class="cls-1" x1="352.26" x2="170.43" y1="256" y2="256"/><polyline class="cls-1" points="223.91 202.52 170.44 256 223.91 309.48"/></g></g></svg>
                </button>

                <h2 class="h1-white">Add Loan</h2>
                <form class="form" id="add-loan-form" action="/add-loan" method="post" autocomplete="off">
                    <label class="form-label">Loan name</label>
                    <input type="text" class="text-box" name="add-name" id="add-name" placeholder="Loan name" autofocus>
                    
                    <label class="form-label">Loan balance</label>
                    <input type="text" class="text-box usd" name="add-amount" id="add-amount" placeholder="Loan balance" data-format="usd" oninput="formatInput(event)" onkeypress="return onlyNumberKey(event)">
                    <span class="formatted-value"></span>
                    
                    <label class="form-label">Interest rate</label>
                    <input type="text" class="text-box percent" name="add-interest" id="add-interest" placeholder="Interest rate" data-format="percentage" oninput="formatInput(event)" onkeypress="return onlyNumberKey(event)">
                    <span class="formatted-value"></span>
                    
                    <input type="hidden" class="text-box" name="form-name" disabled value="add-loan-form">

                    <input type="submit" value="Add" class="button">
                </form>
            </div>

            <div id="edit-loan-form-container" class="collapse form">

                <button onclick="goBack(openEditForm())" class="back-button">
                    <?xml version="1.0" ?><svg class="back-button-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style></defs><g data-name="Layer 2" id="Layer_2"><g data-name="E421, Back, buttons, multimedia, play, stop" id="E421_Back_buttons_multimedia_play_stop"><circle class="cls-1" cx="256" cy="256" r="246"/><line class="cls-1" x1="352.26" x2="170.43" y1="256" y2="256"/><polyline class="cls-1" points="223.91 202.52 170.44 256 223.91 309.48"/></g></g></svg>
                </button>

                <h2 class="h1-white">Edit Loan</h2>
                <form class="form" action="/edit-loan" method="post" autocomplete="off">
                    <label class="form-label">Loan name</label>
                    <select type="text" class="text-box">
                        <option selected disabled class="text-box">Select Loan</option>
                        {% if loans %}
                            {% for loan in loans %}
                                <option>{{ loan.name }}</option>
                            {% endfor %}
                        {% endif %}

                    <label class="form-label">Change name</label>
                    <input type="text" class="text-box" id="edit-name" name="edit-name" placeholder="Change name">
                            
                    <label class="form-label">Update balance</label>
                    <input type="text" class="text-box usd" id="edit-amount" name="edit-amount" placeholder="Update balance" data-format="usd" onkeypress="return onlyNumberKey(event)">
                    <span></span>

                    <label class="form-label">Update interest rate</label>
                    <input type="text" class="text-box percent" placeholder="Update interest rate" id="edit-interest" name="edit-interest" data-format="percentage" onkeypress="return onlyNumberKey(event)">
                    <span></span>

                    <input type="submit" value="Confirm" class="button">
                </form>
            </div>

        {% endblock %}

    </div>

    <!-- <div class="hidden-form">
        <h2 class="h1-white">Add Loan</h2>
        <form class="form" action="/add-loan" method="post" autocomplete="off">
            <label class="form-label">Loan name</label>
            <input type="text" class="text-box" placeholder="Loan name" autofocus>
            <label class="form-label">Loan amount</label>
            <input type="text" class="text-box" placeholder="Loan amount">
            <label class="form-label">Interest rate</label>
            <input type="text" class="text-box" placeholder="Interest rate">
            <input type="submit" value="Add" class="button">
        </form>
    </div> -->
    

    <div class="loan-table">
        <table class="table h3">
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Interest rate</th>
                <th>Monthly interest</th>
            </tr>

            {% if loans %}
    
                {% for loan in loans %}
                    <tr>
                        <td>{{ loan.name }}</td>
                        <td>{{ usd(loan.amount|int) }}</td>
                        <td>{{ percent(loan.interest|int) }}</td>
                        <td>{{ usd(loan.monthly_interest) }}</td>
                    </tr>
                {% endfor %}

            {% endif %}
        </table>
    </div>

</div>
{% endblock %}